# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
build/
bin/
obj/
packages/
*.csproj.user
*ReSharper.user
_ReSharper*
*.ReSharper
Thumbs.db
*.cache
*.nupkg
*.suo
src/*AssemblyInfo.cs
TestResults
AppPackages/
TestResults/

